.dashboard {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}


.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

.navbar-link:hover {
  text-decoration: underline;
}

.main-content {
  padding: 40px;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*logout*/
.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.logout-button:hover {
  background-color: #c82333;
}