
/* Fotos */
.presentacion {
width: 100%;
margin-bottom: 40px;
}

.galeria {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}


.left img,
.right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.right {
display: grid;
gap: 12px;
grid-template-rows: 1fr 1fr;
}

/* Responsive */
@media (max-width: 768px) {
.galeria {
display: none;
}
}

/* Serivicios */


.servicios {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.badge-outline-success {
color: #218a01;
border: 2px solid #218a01;
background-color: transparent;
padding: 0.25rem 0.5rem;
font-size: 0.75rem;    
border-radius: 0.25rem; 
}

.servicios p {
color: #111827;
font-size: 17px;
font-family: sans-serif;
}

.list-group p {
color:#757575;
}

.btn-reservar{
border: 1px solid #d4d4d4;
color: #141414;
background-color: transparent;
transition: background-color 0.5s, color 0.5s;
}

.btn-reservar:hover {
border: 1px solid #d4d4d4;
}

.btn-todo{
font-size: 16px;
font-weight: bold;
border: 2px solid #d4d4d4;
color: #141414;
background-color: transparent;
transition: background-color 0.5s, color 0.5s;
}

.btn-todo:hover {
  border: 2px solid #d4d4d4;
  background-color: #d4d4d4;
}

.top-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px); 
  transition: opacity 1s ease, transform 1s ease, max-height 1s ease;
  background-color: #f8f9fa; 
  padding: 15px;
  border-radius: 12px;
}

.top-content.show {
  max-height: 500px; 
  opacity: 1;
  transform: translateY(1); 
}

/* Lightbox */
.lightbox {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background:#000;
justify-content: center;
align-items: center;
z-index: 9999;
cursor: pointer;
}

/* estilistas */
.circulo {
  width: 150px; 
  height: 150px; 
  object-fit: cover
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.carousel-control-prev-icon::after {
  content: '❮';
  color: black;
  font-size: 2rem;
}

.carousel-control-next-icon::after {
  content: '❯';
  color: black;
  font-size: 2rem;
}

/* Login */

    .left-side {
      flex: 1;
      background: url('../Images/FotoLogin.jpg') no-repeat center center;
      background-size: cover;
    }

    .right-side {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .login-box {
      width: 550px;
      padding: 30px;
      border-radius: 10px;
    }

    .login-box p {
      text-align: center;
      font-weight: bold;
      font-family: 'Poppins', 'Roboto', sans-serif;
      font-size: 17px;
    }
    

    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .login-box button {
      width: 100%;
      padding: 10px;
      background: #000000;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .login-box button:hover {
      background: #272727;
    }