body {
  margin: 0;
  background-color: #F5F1EA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width: 100px;
  height: 100px;
}
