/* Estilos generales */
body {
  margin: 0;
  background-color: #F5F1EA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.main-no-center {
  align-items: flex-start;
  justify-content: flex-start;
}

/* Barra de nav */

.top-bar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0px;
}
  
.navbar{
  margin: 0;
  padding: 0;
}

.logo{
  width: 125px;
  height: 125px;
}

nav a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  transition: filter 0.3s ease;
}

nav a:hover {
  filter: brightness(70%);
  cursor: pointer;
}
/*
.colapsado ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colapsado p{
  color: white;
  margin: auto;
}

@media screen and (max-width: 991px) {
   .logo {
    display: none;
  } 

  .colapsado{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .colapsado a {
    margin: 10px 0;
    font-size: 18px;
    padding: 00;
  }

  .colapsado button{
    margin: 10px;
  }

}*/